body{
  padding: 0;
  margin: 0;
  background-image: url("img/bodyBackgroundImg.jpg");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.game-wrapper{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: min-content;

  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.game-wrapper h1{
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
}

.game-wrapper h3{
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
}

.game-wrapper canvas{
  margin: 40px 40px 0 40px;
  border: solid 1px white;
  border-radius: 8px;
  box-shadow: 0 5px 30px black;
}